<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <h1>Bem-vindo ao CRUD de pessoas</h1>
        <nav>
            <a href="/pessoas">Listar pessoas</a>

            <a href="/pessoas/nova">Nova pessoa</a>
        </nav>
    </body>
</html>